In [1]:
def ABCD() :
    print("Hello from a function")

In [2]:
ABCD()

Hello from a function

In [3]:
x=10
y=20
z=x+y
ABCD()

Hello from a function

In [4]:
def add():
    x=int(input("enter first number"))
    y=int(input("emter second number"))
    print(x+y)

In [5]:
add()

enter first number 2
emter second number 3

5

In [6]:
def sub():
    x=int(input("enter first number"))
    y=int(input("emter second number"))
    print(x-y)

In [7]:
sub()

enter first number 3
emter second number 1

2

In [9]:
def keerthana():
    x=int(input("enter first number"))
    y=int(input("emter second number"))
    print(x*y)

In [10]:
keerthana()

enter first number 20
emter second number 2001

40020

In [11]:
def manzaaaaaa():
     x=int(input("enter first number"))
    y=int(input("emter second number"))
    print(x/y)

In [12]:
manzaaaaaa()

enter first number 19
emter second number 2002

0.00949050949050949

In [14]:
A=int(input("enter function"))
if A == 1 :
    add()
if A == 2 :
    sub()
if A == 3 :
    multi()
if A == 4 :
    div()

enter function 2
enter first number 3
emter second number 3

0

In [24]:
def add(x,y):
    z=x+y
    print(z)
def sub(x,y):
    z=x-y
    print(z)
def multi(x,y):
    z=x*y
    print(z)
def div(x,y):
    z=x/y
    print(z)

In [27]:
x=int(input("enter a value"))
y=int(input("emter a value"))
add(x,y)
sub(x,y)
multi(x,y)
div(x,y)

enter a value 24
emter a value 24

48
0
576
1.0

In [34]:
A=int(input("enter function"))
if A == 0 :
    print("finished")
else :  
    if A == 1 :
        add(x,y)
    if A == 2 :
        sub(x,y)
    if A == 3 :
        multi(x,y)
    if A == 4 :
        div(x,y,)

enter function 3

576